<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
    <script src="/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="layui-fluid">
    <div class="layui-card-body" id="dataArea">

    </div>
</div>
</body>

<script>
    $(document).ready(function () {
        init();
    });

    function init() {
        var url = location.search; //获取url中"?"符后的字串
        var tableName = '';
        var dbName = '';
        if (url.indexOf("?") != -1) {
            let val = url.substr(1);
            dbName = val.split(",")[0];
            tableName = val.split(",")[1]
        }
        debugger
        var result = "";
        $.get('/topic/getAllDataByTableName?topicName=' + dbName + "&tableName=" + tableName, function (resp) {
            res = $.parseJSON(resp)
            let data = res.data;
            result += JSON.stringify(data)
            $("#dataArea").append(result)
        })

    }

</script>


</html>