.frame-scroller{
   overflow-x: scroll;
}

#profile-js {
    height: 65px;
    padding: 4px 13px 3px 2px;
    margin: 7px 15px .125px 4px;
    min-height: 2px;
    min-width: 8px;
    color: #6cc7c7;
    background-color: #47b9b9;
    border-top-color: #f4f8fd
}

.tricon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: sub
}

.tricon.spin {
    animation: triconSpin 1s infinite linear
}

@keyframes triconSpin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

.tricon.spinner {
    background-color: #333
}

.label-default .tricon {
    background-color: #fff
}

.btn-link .tricon,
a .tricon {
    background-color: #056be2
}

.btn-link:hover .tricon,
a:hover .tricon {
    background-color: #045fc9
}

.tricon.btn-icon {
    background-color: #056be2
}

.tricon.btn-icon:hover {
    background-color: #2085fa
}

button.close.tricon {
    -webkit-mask-box-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld2JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyIDE5IDYuNDF6Ij48L3BhdGg+PC9zdmc+);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld2JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyIDE5IDYuNDF6Ij48L3BhdGg+PC9zdmc+);
    mask-size: contain;
    background-color: #333
}

.btn-primary .tricon {
    background-color: #fff
}

.btn-secondary .tricon {
    background-color: #056be2
}

.dropdown.open .dropdown-toggle .tricon {
    background-color: #fff
}

.c-flow-view {
    height: inherit;
    width: inherit;
    user-select: none
}

.c-flow-view .c-flow-view-dag {
    display: block;
    position: relative;
    padding-left: 24px;
    overflow: visible;
    transform: scale(1)
}

.c-flow-view .c-flow-view-dag foreignObject {
    overflow: visible
}

.c-flow-view-dataset,
.c-flow-view-object,
.c-flow-view-output,
.c-flow-view-recipe,
.c-flow-view-recipe-hint,
.c-flow-view-reference {
    display: flex;
    position: relative;
    flex-basis: 100%;
    overflow: hidden;
    background-color: #e5ecf3;
    justify-content: center;
    align-items: center;
    position: static
}

.c-flow-view-dataset[data-state~=hidden],
.c-flow-view-object[data-state~=hidden],
.c-flow-view-output[data-state~=hidden],
.c-flow-view-recipe-hint[data-state~=hidden],
.c-flow-view-recipe[data-state~=hidden],
.c-flow-view-reference[data-state~=hidden] {
    display: none
}

html:not(.p-focus-disabled) .c-flow-view-dataset:focus,
html:not(.p-focus-disabled) .c-flow-view-object:focus,
html:not(.p-focus-disabled) .c-flow-view-output:focus,
html:not(.p-focus-disabled) .c-flow-view-recipe-hint:focus,
html:not(.p-focus-disabled) .c-flow-view-recipe:focus,
html:not(.p-focus-disabled) .c-flow-view-reference:focus {
    outline: 2px solid #056be2 !important
}

.c-flow-view .c-flow-view-edge {
    stroke-width: 4px;
    stroke: #e5ecf3;
    fill: none
}

.c-flow-view-dataset {
    border-radius: 4px
}

.c-flow-view-recipe,
.c-flow-view-recipe-hint {
    border-radius: 50%
}

.c-flow-view-output,
.c-flow-view-reference {
    display: flex;
    position: relative;
    flex-basis: 100%;
    overflow: hidden;
    overflow: auto;
    flex-basis: auto;
    flex-shrink: 0;
    overflow: visible
}

.c-flow-view-output[data-state~=hidden],
.c-flow-view-reference[data-state~=hidden] {
    display: none
}

.c-flow-view-reference {
    border-radius: 4px
}

.c-flow-view-output {
    border-radius: 50%
}

.c-flow-view-output .c-flow-view-schedule-indicator {
    margin-right: 4px
}

.c-flow-view-output[data-scheduled~=true] {
    border-radius: 300px
}

.c-flow-view-recipe-hint:hover,
.c-flow-view [data-selectable~=true],
.c-flow-view [data-selectable~=true] .c-flow-view-name {
    cursor: pointer
}

.c-flow-view [data-selectable~=false] {
    pointer-events: none
}

.c-flow-view .m-icon:not([data-size]) {
    height: 24px;
    width: 24px
}

.c-flow-view [data-state~=selected] .m-icon svg {
    fill: #fff
}

.c-flow-view-flow-name,
.c-flow-view-metadata,
.c-flow-view-name,
.c-flow-view-text {
    font-size: 13px;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    padding-left: 0;
    margin-left: 0;
    color: #24292e;
    overflow: hidden;
    text-overflow: ellipsis
}

.c-flow-view-name-container {
    flex-direction: column;
    display: flex;
    position: relative;
    flex-basis: 100%;
    overflow: hidden;
    overflow: auto;
    flex-basis: auto;
    flex-shrink: 0;
    overflow: visible;
    max-width: 100%
}

.c-flow-view-name-container[data-state~=hidden] {
    display: none
}

.c-flow-view-name {
    padding-top: 2px;
    padding-bottom: 2px
}

.c-flow-view-metadata,
.c-flow-view-name {
    border-style: none;
    margin: 1px;
    cursor: default;
    position: static
}

.c-flow-view-metadata [data-clickable~=true],
.c-flow-view-name [data-clickable~=true] {
    cursor: pointer
}

.c-flow-view-metadata [data-clickable~=true] .m-text,
.c-flow-view-name [data-clickable~=true] .m-text {
    color: #056be2
}

.c-flow-view-metadata [data-clickable~=true] .m-text:focus,
.c-flow-view-metadata [data-clickable~=true] .m-text:hover,
.c-flow-view-name [data-clickable~=true] .m-text:focus,
.c-flow-view-name [data-clickable~=true] .m-text:hover {
    color: #0a45b5
}

.c-flow-view-metadata {
    margin-top: -6px
}

.c-flow-view-metadata:empty {
    display: none
}

.c-flow-view-flow-name {
    color: #6c7680;
    font-size: 12px;
    margin-left: 4px
}

.c-flow-view-name-editable {
    position: static;
    margin-left: -6px
}

.c-flow-view-name-editable>input:not(:hover):not(:focus) {
    background-color: transparent;
    border-color: transparent
}

.c-flow-view-name-editable>input {
    position: static;
    text-overflow: ellipsis;
    min-height: 24px;
    max-height: 24px
}

.c-flow-view-flow-name[data-access~=private] {
    font-weight: 500
}

.c-flow-view .c-flow-view-flow-info {
    display: none;
    line-height: 14px
}

.c-flow-view [data-clickable~=true] .c-flow-view-flow-name,
.c-flow-view [data-clickable~=true] .c-flow-view-name {
    cursor: pointer;
    color: #056be2;
    font-size: 12px
}

.c-flow-view [data-clickable~=true] .c-flow-view-flow-name:focus,
.c-flow-view [data-clickable~=true] .c-flow-view-flow-name:hover,
.c-flow-view [data-clickable~=true] .c-flow-view-name:focus,
.c-flow-view [data-clickable~=true] .c-flow-view-name:hover {
    color: #0a45b5
}

.c-flow-view .c-flow-view-flow-info[data-clickable~=false] {
    cursor: default
}

.c-flow-view .c-flow-view-flow-info .m-icon svg {
    fill: #6c7680
}

.c-flow-view .c-flow-view-dataset-container[data-type~=reference] .c-flow-view-flow-info,
.c-flow-view .c-flow-view-name-info,
.c-flow-view .c-flow-view-output-info,
.c-flow-view .c-flow-view-reference-info {
    display: flex
}

.c-flow-view .c-flow-view-flow-info>* {
    position: static
}

.c-flow-view .c-flow-view-reference-info {
    align-items: center
}

.c-flow-view .c-flow-view-reference-info .c-flow-view-name-container {
    margin-left: 6px
}

.c-flow-view .c-flow-view-reference-info .c-flow-view-name,
.c-flow-view .c-flow-view-reference-info .c-flow-view-name-editable input,
.c-flow-view .c-flow-view-reference-info .c-flow-view-name-editable input:not(:hover):not(:focus) {
    font-size: 12px
}

.c-flow-view [data-id][data-state~=selected] .c-flow-view-name-editable {
    display: flex
}

.c-flow-view-dataset-container[data-type~=missing] .c-flow-view-name-editable,
.c-flow-view [data-id]:not([data-state~=selected]) .c-flow-view-name-editable,
.c-flow-view [data-id][data-state~=selected] .c-flow-view-name-container:not([data-access~=readOnly]) .c-flow-view-name {
    display: none
}

.c-flow-view [data-id][data-state~=selected] .c-flow-view-name-container:not([data-access~=readOnly]) {
    width: 100%
}

.c-flow-view [data-id]:not([data-state~=selected]) .c-flow-view-name-container {
    position: static
}

.c-flow-view .c-flow-view-reference-container .c-flow-view-name-container {
    max-width: 134px
}

.c-flow-view .c-flow-view-dag:not([data-state~=active]) .c-flow-view-dataset-container[data-selectable~=true]:not([data-type~=missing]) .c-flow-view-dataset:hover,
.c-flow-view .c-flow-view-dag:not([data-state~=active]) .c-flow-view-output-container[data-selectable~=true]:not([data-error~=missing]) .c-flow-view-output:hover,
.c-flow-view .c-flow-view-dag:not([data-state~=active]) .c-flow-view-recipe-container[data-selectable~=true] .c-flow-view-recipe:hover,
.c-flow-view .c-flow-view-dag:not([data-state~=active]) .c-flow-view-reference-container[data-selectable~=true]:not([data-error~=missing]) .c-flow-view-reference:hover {
    background-color: #cfd9e3
}

.c-flow-view .c-flow-view-dataset-container[data-state~=selected] .c-flow-view-dataset,
.c-flow-view .c-flow-view-output-container[data-state~=selected] .c-flow-view-output,
.c-flow-view .c-flow-view-recipe-container[data-state~=selected] .c-flow-view-recipe,
.c-flow-view .c-flow-view-reference-container[data-state~=selected] .c-flow-view-reference {
    background-color: #056be2
}

.c-flow-view [data-id]:not([data-state~=selected]) .c-flow-view-name {
    display: inline-block
}

.c-flow-view-dag[data-state~=blurred] {
    opacity: .4
}

.c-flow-view-dag[data-state~=active] .c-flow-view-dataset-container:not([data-state]):not([data-type~=missing]) .c-flow-view-dataset,
.c-flow-view-dag[data-state~=active] .c-flow-view-output-container:not([data-state]) .c-flow-view-output,
.c-flow-view-dag[data-state~=active] .c-flow-view-recipe-container:not([data-state]) .c-flow-view-recipe,
.c-flow-view-dag[data-state~=active] .c-flow-view-reference-container:not([data-state]) .c-flow-view-reference {
    background-color: #f4f8fd
}

.c-flow-view-dag[data-state~=active] .c-flow-view-dataset-container:not([data-state]):not([data-type~=missing]) .c-flow-view-dataset svg,
.c-flow-view-dag[data-state~=active] .c-flow-view-output-container:not([data-state]) .c-flow-view-output svg,
.c-flow-view-dag[data-state~=active] .c-flow-view-recipe-container:not([data-state]) .c-flow-view-recipe svg,
.c-flow-view-dag[data-state~=active] .c-flow-view-reference-container:not([data-state]) .c-flow-view-reference svg {
    fill: #a0acb8
}

.c-flow-view-dag[data-state~=active] .c-flow-view-dataset-container:not([data-state]) .c-flow-view-flow-info .c-flow-view-flow-name {
    color: #cfd9e3
}

.c-flow-view-dag[data-state~=active] .c-flow-view-dataset-container:not([data-state]) .c-flow-view-flow-info .m-icon {
    fill: #cfd9e3
}

.c-flow-view-dag[data-state~=active] .c-flow-view-dataset-container:not([data-state]) .c-flow-view-name,
.c-flow-view-dag[data-state~=active] .c-flow-view-output-container:not([data-state]) .c-flow-view-name,
.c-flow-view-dag[data-state~=active] .c-flow-view-recipe-container:not([data-state]) .c-flow-view-name,
.c-flow-view-dag[data-state~=active] .c-flow-view-reference-container:not([data-state]) .c-flow-view-name {
    color: #a0acb8
}

.c-flow-view-dag[data-state~=active] .c-flow-view-edge:not([data-state]) {
    stroke: #f4f8fd
}

.c-flow-view-dag[data-state~=active] .c-flow-view-dataset-container[data-selectable~=true]:not([data-state]):not([data-type~=missing]) .c-flow-view-dataset:hover,
.c-flow-view-dag[data-state~=active] .c-flow-view-output-container[data-selectable~=true]:not([data-state]) .c-flow-view-output:hover,
.c-flow-view-dag[data-state~=active] .c-flow-view-recipe-container[data-selectable~=true]:not([data-state]) .c-flow-view-recipe:hover,
.c-flow-view-dag[data-state~=active] .c-flow-view-reference-container[data-selectable~=true]:not([data-state]) .c-flow-view-reference:hover {
    background-color: #f4f8fd
}

.c-flow-view-dataset-container[data-state~=active] .c-flow-view-dataset,
.c-flow-view-output-container[data-state~=active] .c-flow-view-output,
.c-flow-view-recipe-container[data-state~=active] .c-flow-view-recipe,
.c-flow-view-reference-container[data-state~=active] .c-flow-view-reference {
    background-color: #bbdefb
}

.c-flow-view .c-flow-view-edge[data-state~=active] {
    stroke: #bbdefb
}

.c-flow-view .c-flow-view-dataset-container[data-selectable~=true][data-state~=active]:not([data-type~=missing]) .c-flow-view-dataset:hover,
.c-flow-view .c-flow-view-output-container[data-selectable~=true][data-state~=active] .c-flow-view-output:hover,
.c-flow-view .c-flow-view-recipe-container[data-selectable~=true][data-state~=active] .c-flow-view-recipe:hover,
.c-flow-view .c-flow-view-reference-container[data-selectable~=true][data-state~=active] .c-flow-view-reference:hover {
    background-color: #42a5f5
}

.c-flow-view-recipe-hint {
    background-color: #fff;
    border: 2px solid #f4f8fd
}

.c-flow-view-output-container[data-error=missing][data-state=visible] .c-flow-view-output,
.c-flow-view-reference-container[data-error=missing][data-state=visible] .c-flow-view-reference {
    background-color: transparent;
    border-style: none
}

.c-flow-view-output-container[data-error=missing][data-state=visible] .c-flow-view-output .m-icon svg,
.c-flow-view-recipe-hint-container .c-flow-view-recipe-hint .m-icon svg,
.c-flow-view-reference-container[data-error=missing][data-state=visible] .c-flow-view-reference .m-icon svg {
    fill: #cfd9e3
}

.c-flow-view-output-container[data-error=missing],
.c-flow-view-reference-container[data-error~=missing] {
    display: none
}

.c-flow-view-output-container[data-error=missing][data-state=visible],
.c-flow-view-reference-container[data-error~=missing][data-state=visible] {
    display: flex
}

.c-flow-view-recipe-hint-container .c-flow-view-edge {
    stroke: #f4f8fd
}

.c-flow-view-dag[data-state~=active] .c-flow-view-recipe-hint-container .c-flow-view-edge[data-hovered~=true] {
    stroke: #e5ecf3
}

.c-flow-view-output-container[data-error=missing][data-state=visible] .c-flow-view-output,
.c-flow-view-reference-container[data-error=missing][data-state=visible] .c-flow-view-reference {
    border-width: 1px
}

.c-flow-view-output-container[data-error=missing][data-state=visible] .c-flow-view-output:hover,
.c-flow-view-recipe-hint-container .c-flow-view-recipe-hint:hover,
.c-flow-view-reference-container[data-error=missing][data-state=visible] .c-flow-view-reference:hover {
    background-color: #fff;
    border-color: #e5ecf3;
    border-style: solid
}

.c-flow-view-output-container[data-error=missing][data-state=visible] .c-flow-view-output:hover .m-icon svg,
.c-flow-view-recipe-hint-container .c-flow-view-recipe-hint:hover .m-icon svg,
.c-flow-view-reference-container[data-error=missing][data-state=visible] .c-flow-view-reference:hover .m-icon svg {
    fill: #056be2
}

.c-flow-view-context-menu-trigger {
    user-select: none;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #056be2;
    width: 20px;
    height: 20px;
    display: flex;
    flex-shrink: 0;
    margin-left: 4px;
    position: static;
    justify-content: center;
    cursor: default
}

.c-flow-view-context-menu-trigger:focus {
    outline: none
}

.c-flow-view-context-menu-trigger .m-icon {
    background: #056be2
}

.c-flow-view-context-menu-trigger .m-text {
    color: #056be2
}

.c-flow-view-context-menu-trigger[data-state~=disabled] {
    pointer-events: none;
    opacity: .4
}

.c-flow-view-context-menu-trigger[data-size=small] {
    font-size: 13px
}

.c-flow-view-context-menu-trigger[data-size=large] {
    font-size: 16px
}

.c-flow-view-context-menu-trigger:focus:not(:active):not([data-state~=disabled]),
.c-flow-view-context-menu-trigger:hover,
.c-flow-view-context-menu-trigger[data-state~=hovered] {
    color: #0a45b5
}

.c-flow-view-context-menu-trigger:focus:not(:active):not([data-state~=disabled]) .m-icon,
.c-flow-view-context-menu-trigger:hover .m-icon,
.c-flow-view-context-menu-trigger[data-state~=hovered] .m-icon {
    background: #0a45b5
}

.c-flow-view-context-menu-trigger:focus:not(:active):not([data-state~=disabled]) .m-text,
.c-flow-view-context-menu-trigger:hover .m-text,
.c-flow-view-context-menu-trigger[data-state~=hovered] .m-text {
    color: #0a45b5
}

html:not(.p-focus-disabled) .c-flow-view-context-menu-trigger:focus:not([data-state~=disabled]) {
    text-decoration: underline solid #0a45b5
}

.c-flow-view-context-menu-trigger .m-icon {
    display: none
}

.c-flow-view-context-menu-trigger .m-icon.inline {
    background-color: transparent
}

.c-flow-view[data-state~=editable] .c-flow-view-dataset-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon,
.c-flow-view[data-state~=editable] .c-flow-view-output-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon,
.c-flow-view[data-state~=editable] .c-flow-view-recipe-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon,
.c-flow-view[data-state~=editable] .c-flow-view-reference-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon {
    display: block;
    cursor: pointer
}

.c-flow-view[data-state~=editable] .c-flow-view-dataset-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon svg,
.c-flow-view[data-state~=editable] .c-flow-view-output-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon svg,
.c-flow-view[data-state~=editable] .c-flow-view-recipe-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon svg,
.c-flow-view[data-state~=editable] .c-flow-view-reference-container .c-flow-view-context-menu-trigger[data-state~=hover] .m-icon svg {
    fill: #056be2
}

.c-flow-view-dataset-container .c-flow-view-context-menu-trigger,
.c-flow-view-recipe-container .c-flow-view-context-menu-trigger {
    margin: -20px 0 0 50px
}

.c-flow-view-reference-container .c-flow-view-context-menu-trigger {
    margin: 0
}

.c-flow-view-edge[data-error~=missing] {
    stroke-dasharray: 4
}

.c-flow-view-indicator {
    fill: transparent
}

.c-flow-view-indicator[data-indicator~=broken] {
    fill: #de3535
}

.c-flow-view .c-flow-view-dataset-container[data-type~=missing] .c-flow-view-dataset {
    background-color: #fff;
    border: 2px solid #f4f8fd
}

.c-flow-view .c-flow-view-dataset-container[data-type~=missing] .c-flow-view-dataset .m-icon svg {
    fill: #cfd9e3
}

.c-flow-view[data-state~=editable] .c-flow-view-dataset-container[data-type~=missing] .c-flow-view-dataset:hover {
    background-color: #fff;
    border-color: #e5ecf3;
    border-style: solid
}

.c-flow-view[data-state~=editable] .c-flow-view-dataset-container[data-type~=missing] .c-flow-view-dataset:hover .m-icon svg {
    fill: #056be2
}

.c-flow-view .c-flow-view-dataset-container[data-error~=missing] .m-icon svg {
    fill: #cfd9e3
}

.c-flow-view[data-state~=editable] [data-type~=missing] .c-flow-view-name {
    color: #056be2
}

.c-flow-view-output[data-schedule-error~=true] .m-icon svg {
    fill: #de3535
}

.c-flow-view-output-container[data-state~=active] .c-flow-view-output[data-schedule-error~=true],
.c-flow-view .c-flow-view-dag:not([data-state~=active]) .c-flow-view-output-container[data-selectable~=true]:not([data-error~=missing]) .c-flow-view-output[data-schedule-error~=true]:hover {
    background-color: #ffe5e9
}

.c-flow-view .c-flow-view-output-container[data-selectable~=true][data-state~=active] .c-flow-view-output[data-schedule-error~=true]:hover {
    background-color: #ffc7cd
}

.c-flow-view-output-container[data-state~=selected] .c-flow-view-output[data-schedule-error~=true] {
    background-color: #de3535
}

.c-flow-view-output-container[data-state~=selected] .c-flow-view-output[data-schedule-error~=true] .m-icon svg {
    fill: #fff
}

.language-module_language_1bZzv {
    padding-right: 42px;
    min-height: 20px
}

.language-module_language_1bZzv[data-state~=invalid] {
    padding-right: 70px
}

.language-module_language_1bZzv[data-state~=disabled] {
    text-decoration: line-through;
    color: rgba(33, 33, 33, .6);
    opacity: .6
}

.language-module_language_1bZzv[data-state~=disabled] .m-language {
    color: rgba(33, 33, 33, .6)
}

.c-google-project-chooser {
    height: 28px
}

.c-google-project-chooser [data-id=loader-container] {
    padding: 6px
}

.c-google-project-chooser .tricon {
    margin-right: -7px
}

:focus {
    outline: none !important
}

@keyframes loader {

    0%,
    80%,
    to {
        box-shadow: 0 1em 0 -.5em
    }

    40% {
        box-shadow: 0 1em 0 0
    }
}

.p-size-block-rounded-mixin-modal {
    padding: 7px 16px;
    line-height: 18px;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 0;
    border-style: solid
}

.p-focus {
    user-select: none
}

.p-focus:focus {
    outline: none
}

.p-disabled {
    pointer-events: none
}

.p-header-1 {
    font-weight: 100;
    font-size: 36px;
    margin-top: 28px;
    margin-bottom: 32px
}

.p-header-2,
.p-header-3 {
    font-weight: 100;
    font-size: 36px;
    margin-top: 28px;
    margin-bottom: 32px;
    font-size: 28px
}

.p-header-3 {
    font-weight: 400;
    font-size: 18px
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #24292e
}

h1 {
    font-weight: 100;
    font-size: 36px;
    margin-top: 28px;
    margin-bottom: 32px
}

h2,
h3 {
    font-weight: 100;
    font-size: 36px;
    margin-top: 28px;
    margin-bottom: 32px;
    font-size: 28px
}

h3 {
    font-weight: 400;
    font-size: 18px
}

.macros-inspect .m-language[data-type=variable] {
    background-color: #bbdefb
}
.nav-bar_skipLink_2I7pI {
    opacity: 0;
    position: fixed;
    top: 0;
    left: -999999px;
    background-color: #056be2;
    z-index: 10000;
    width: 0;
    height: 0
}

.nav-bar_skipLink_2I7pI:focus {
    left: 0;
    opacity: 1;
    width: auto;
    height: auto;
    padding: 16px
}

.nav-bar_skipLinkTarget_Lhrpp {
    opacity: 0;
    width: 0;
    height: 0
}
.flash-loader_flashLoader_2sp_a{animation-name:flash-loader_flash-loader_2URyv;animation-duration:1s;animation-timing-function:ease;animation-direction:alternate;animation-iteration-count:infinite;background:#f4f8fd}@keyframes flash-loader_flash-loader_2URyv{0%{background:#f4f8fd}to{background:#e5ecf3}}.toolbar_p-focus_1gPUa{user-select:none}.toolbar_p-focus_1gPUa:focus{outline:none}.toolbar_p-disabled_1nlBl{pointer-events:none}.toolbar_p-header-1_26u4P{font-weight:100;font-size:36px;margin-top:28px;margin-bottom:32px}.toolbar_p-header-2_1pRrp,.toolbar_p-header-3_2aMQs{font-weight:100;font-size:36px;margin-top:28px;margin-bottom:32px;font-size:28px}.toolbar_p-header-3_2aMQs{font-weight:400;font-size:18px}body{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;font-family:Roboto,Arial,Helvetica,sans-serif;font-weight:400;font-size:14px;line-height:1.4;color:#24292e}h1{font-weight:100;font-size:36px;margin-top:28px;margin-bottom:32px}h2,h3{font-weight:100;font-size:36px;margin-top:28px;margin-bottom:32px;font-size:28px}h3{font-weight:400;font-size:18px}:focus{outline:none!important}@keyframes toolbar_loader_23nnS{0%,80%,to{box-shadow:0 1em 0 -.5em}40%{box-shadow:0 1em 0 0}}.toolbar_p-size-block-rounded-mixin-modal_3rvKH{padding:7px 16px;line-height:18px;box-sizing:border-box;border-radius:4px;border-width:0;border-style:solid}.toolbar_m-toolbar_2LeQK{display:flex;position:relative;flex-basis:100%;overflow:hidden;padding:7px 16px;line-height:18px;box-sizing:border-box;background-color:#fff;min-height:42px;max-height:42px;height:42px;border-bottom:1px solid #e5ecf3;align-items:center}.toolbar_m-toolbar_2LeQK[data-state~=hidden]{display:none}.toolbar_m-toolbar_2LeQK .toolbar_m-text_2tuMk{color:#6c7680;font-size:13px}.toolbar_m-toolbar-no-border_37BQd{display:flex;position:relative;flex-basis:100%;overflow:hidden;padding:7px 16px;line-height:18px;box-sizing:border-box;background-color:#fff;min-height:42px;max-height:42px;height:42px;border-bottom:1px solid #e5ecf3;align-items:center;border-bottom:none}.toolbar_m-toolbar-no-border_37BQd[data-state~=hidden]{display:none}.toolbar_m-toolbar-item_3cSgm{display:flex;position:relative;flex-basis:100%;overflow:hidden;overflow:auto;flex-basis:auto;flex-shrink:0;overflow:visible;white-space:nowrap;padding-right:4px}.toolbar_m-toolbar-item_3cSgm[data-state~=hidden]{display:none}.toolbar_m-toolbar-item-extra-padding_-j7kW{display:flex;position:relative;flex-basis:100%;overflow:hidden;overflow:auto;flex-basis:auto;flex-shrink:0;overflow:visible;white-space:nowrap;padding-right:4px;padding-right:16px}.toolbar_m-toolbar-item-extra-padding_-j7kW[data-state~=hidden]{display:none}